<div class="container">
    <div class="mt-4 w-25">
        <h3 style="color: aqua;">Selección de estado</h3>
        <select name="" id="filtroEstado" onchange="filtroEstado()" class="form-select form-select-sm selectestatus" aria-label="Large select example">
            <option value="">Seleccione</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Finalizado">Finalizado</option>
        </select>
    </div>

    <div class="mt-5 table-responsive-sm">
        <div id="tablaRegistros">
            <!-- Aquí se insertará la tabla dinámicamente -->
        </div>
    </div>
</div>

// Modal //
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Borrar registro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estas seguro que deseas eliminar el registro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="deleteRegister()" class="btn btn-primary" data-bs-dismiss="modal" >Confirmar</button>
        <!--<a href="/delete/${registro.id}" class="btn btn-danger">Confirmar</a>-->
      </div>
    </div>
  </div>
</div>